// *************************************
//
// Footer styles
//
// *************************************

.footer {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  width: 100%;
}
  
  .footer--main {
    @extend .header--main;
    height: 135px;
  }
  
  .footer-menu {
    @extend %l-table-cell;

    li {
      font-size: rem($base-font-size);
      padding: 0 $base-whitespace / 4;

      @include respond-to(360px, min-width) {
        font-size: rem($base-font-size + 2);
        padding: 0 $base-whitespace / 2;
      }
    }
  }