// *************************************
//
//   Club menu
//
// *************************************

.club-menu {

  > .nav {
    @extend %l-wrapper;
    @extend %ghost-vertical-align;
    height: 100%;
    padding: 0;
    position: relative;
    
    @include respond-to(400px, min-width) {
      padding: 0 20px;
    }

    > li {
      line-height: 73px;
      padding: 0 4px;
      text-transform: uppercase;
      
      @include respond-to(400px, min-width) {
        padding: 0 4px;
      }

      @include respond-to(475px, min-width) {
        padding: 0 15px;
      }

      &.last {
        display: none;
        @include respond-to(700px, min-width) {
          display: inline-block;
          padding: 0;
          position: absolute;
          right: 20px;
        }
      }
    }
  }
}

.club-menu-link {
  @include transition(color 0.5s);
  color: $black;
  font-size: rem($base-font-size);
  position: relative;

  &:hover, &.active {
    color: $white;
  }
  
  &.active {
    &:after {
      border-bottom: 11px solid white;
      border-left: 11px solid transparent;
      border-right: 11px solid transparent;
      border-top: 0;
      bottom: -2px;
      content: '';
      left: 50%;
      margin-left: -11px;
      position: absolute;
    }
  }

  @include respond-to(400px, min-width) {
    font-size: rem($base-font-size + 2);
  }
}