// *************************************
//
//   Styles: graphs...
//
// *************************************

.club-styles {

  .column {
    @include respond-to(800px, max-width) {
      border-top: 1px solid $grey-lightest;
      display: block;
      height: 320px;
      overflow: hidden;
      padding-top: 40px;
      width: 100% !important;
    }

    &:first-child {
      @include respond-to(800px, max-width) {
        height: 295px;
      }
    }
  }
}

.chart {
  margin-top: -80px;
}

.d3-label {
    fill: $grey;
    text-transform: uppercase;
    font-size: rem(14px);
    font-weight: bold;
  }

.d3-arc {
  stroke: #FFF;
  stroke-width: 4px;
}

.d3-header {
  margin-bottom: $base-whitespace * 0.25;
  text-transform: uppercase;
}

.d3-subheader {
  color: $grey;
  font-size: rem(18px);
  margin-bottom: $base-whitespace * 0.5;
}