/**
 * Dropdown object
 *
 */

// <div data-behaviour="dropdown">
//   <a data-behaviour="dropdown-trigger" href="#">Hola, Julieta</a>
//   <div data-behaviour="dropdown-target" class="colors popover popover--top">
//     <span class="popover-tip"></span>
//     <div class="popover-content">bug</div>
//   </div>
// </div>

[data-behaviour = "dropdown"] {
  position: relative;
}

[data-behaviour = "dropdown-target"] {
  display: none;
  position: absolute;
  top: 135%;
  left: 50%;
  margin-left: -87px;
  z-index: 10;

  .is-active & {
    display: block;
  }
}

