@import "icon/*.png";
@include all-icon-sprites;

i {
  display: inline-block;
  vertical-align: middle;
}

.icon-soundset {
  height: 19px;
  width: 136px;
}

.icon-logout {
  margin-top: -2px;
  height: 17px;
  width: 17px;
}

.icon-play {
  height: 19px;
  width: 17px;
}

.icon-play-big-white {
  height: 54px;
  width: 48px;
}

.icon-star-red, .icon-star-white, .icon-star-red-filled {
  height: 21px;
  width: 23px;
}

.icon-sound {
  height: 40px;
  width: 40px;
}

.icon-spotify {
  height: 40px;
  width: 40px;
}
.icon-map-marker {
  height: 39px;
  width: 38px;
}

.icon-arrow-left-small, .icon-arrow-left-small-pink,
.icon-arrow-right-small, .icon-arrow-right-small-pink {
  height: 32px;
  width: 16px;
}

.icon-arrow-left, .icon-arrow-left-pink,
.icon-arrow-right, .icon-arrow-right-pink {
  height: 49px;
  width: 24px;
}

.icon-hamburguer, .icon-hamburguer-pink {
  height: 24px;
  width: 27px;
}