/*

        Creating a sprite from following images:
        
        assets/images/icon/arrow-left.png (24x49)
        assets/images/icon/arrow-left-pink.png (24x49)
        assets/images/icon/arrow-left-small.png (16x32)
        assets/images/icon/arrow-left-small-pink.png (16x32)
        assets/images/icon/arrow-left-xsmall.png (9x19)
        assets/images/icon/arrow-right.png (24x49)
        assets/images/icon/arrow-right-pink.png (24x49)
        assets/images/icon/arrow-right-small.png (16x32)
        assets/images/icon/arrow-right-small-pink.png (16x32)
        assets/images/icon/arrow-right-xsmall.png (9x19)
        assets/images/icon/calendar.png (50x50)
        assets/images/icon/check.png (42x41)
        assets/images/icon/cross.png (42x41)
        assets/images/icon/envelop.png (31x21)
        assets/images/icon/facebook.png (16x32)
        assets/images/icon/hamburguer.png (27x24)
        assets/images/icon/hamburguer-pink.png (27x24)
        assets/images/icon/logout.png (17x17)
        assets/images/icon/map-marker.png (38x39)
        assets/images/icon/no-play.png (21x25)
        assets/images/icon/pause.png (14x19)
        assets/images/icon/play.png (17x19)
        assets/images/icon/play-big-white.png (48x54)
        assets/images/icon/play-rounded.png (48x48)
        assets/images/icon/sound.png (40x40)
        assets/images/icon/soundset.png (136x19)
        assets/images/icon/spotify.png (40x40)
        assets/images/icon/twitter.png (33x27)

        Output files:
          public/images/icon.png
          assets/stylesheets/modules/_icon.scss

        Output size:
          865x54


*/
.icon-arrow-left { width: 24px; height: 49px; background: url(/images/icon.png) 0px -2px no-repeat; }
.icon-arrow-left-pink { width: 24px; height: 49px; background: url(/images/icon.png) -24px -2px no-repeat; }
.icon-arrow-left-small { width: 16px; height: 32px; background: url(/images/icon.png) -48px -11px no-repeat; }
.icon-arrow-left-small-pink { width: 16px; height: 32px; background: url(/images/icon.png) -64px -11px no-repeat; }
.icon-arrow-left-xsmall { width: 9px; height: 19px; background: url(/images/icon.png) -80px -17px no-repeat; }
.icon-arrow-right { width: 24px; height: 49px; background: url(/images/icon.png) -89px -2px no-repeat; }
.icon-arrow-right-pink { width: 24px; height: 49px; background: url(/images/icon.png) -113px -2px no-repeat; }
.icon-arrow-right-small { width: 16px; height: 32px; background: url(/images/icon.png) -137px -11px no-repeat; }
.icon-arrow-right-small-pink { width: 16px; height: 32px; background: url(/images/icon.png) -153px -11px no-repeat; }
.icon-arrow-right-xsmall { width: 9px; height: 19px; background: url(/images/icon.png) -169px -17px no-repeat; }
.icon-calendar { width: 50px; height: 50px; background: url(/images/icon.png) -178px -2px no-repeat; }
.icon-check { width: 42px; height: 41px; background: url(/images/icon.png) -228px -6px no-repeat; }
.icon-cross { width: 42px; height: 41px; background: url(/images/icon.png) -270px -6px no-repeat; }
.icon-envelop { width: 31px; height: 21px; background: url(/images/icon.png) -312px -16px no-repeat; }
.icon-facebook { width: 16px; height: 32px; background: url(/images/icon.png) -343px -11px no-repeat; }
.icon-hamburguer { width: 27px; height: 24px; background: url(/images/icon.png) -359px -15px no-repeat; }
.icon-hamburguer-pink { width: 27px; height: 24px; background: url(/images/icon.png) -386px -15px no-repeat; }
.icon-logout { width: 17px; height: 17px; background: url(/images/icon.png) -413px -18px no-repeat; }
.icon-map-marker { width: 38px; height: 39px; background: url(/images/icon.png) -430px -7px no-repeat; }
.icon-no-play { width: 21px; height: 25px; background: url(/images/icon.png) -468px -14px no-repeat; }
.icon-pause { width: 14px; height: 19px; background: url(/images/icon.png) -489px -17px no-repeat; }
.icon-play { width: 17px; height: 19px; background: url(/images/icon.png) -503px -17px no-repeat; }
.icon-play-big-white { width: 48px; height: 54px; background: url(/images/icon.png) -520px 0px no-repeat; }
.icon-play-rounded { width: 48px; height: 48px; background: url(/images/icon.png) -568px -3px no-repeat; }
.icon-sound { width: 40px; height: 40px; background: url(/images/icon.png) -616px -7px no-repeat; }
.icon-soundset { width: 136px; height: 19px; background: url(/images/icon.png) -656px -17px no-repeat; }
.icon-spotify { width: 40px; height: 40px; background: url(/images/icon.png) -792px -7px no-repeat; }
.icon-twitter { width: 33px; height: 27px; background: url(/images/icon.png) -832px -13px no-repeat; }
