/**
 * Component music list module
 *
   <div class="musiclist">

   </div>
 *
 *
 */

.musiclist {
  border-top: 1px solid $grey-light;
  color: $grey;
  font-size: rem(18px);
  padding: 1.5 * $base-whitespace 0;
  max-width: 1.5 * $l-column;
  width: 100%;
  
  &:last-child {
    border-bottom: 1px solid $grey-light;
    margin-bottom: 2 * $base-whitespace;
  }

  > [class ^= musiclist ] {
    margin-bottom: $base-whitespace * 0.5;

    &:last-child {
      margin-bottom: 0;
    }
  }

  @include respond-to(960px, min-width) {
    border-bottom: 1px solid $grey-light;
    margin-bottom: 2 * $base-whitespace;
    max-width: $l-column;
  }

}

.musiclist-body {
  display: table;
}

.musiclist-name, .musiclist-play {
  display: table-cell;
  vertical-align: middle;
}

.musiclist-play a {
  @include transition(opacity 0.5s);
  &:hover {
    opacity: 0.7;
  }
}
.musiclist-name { 
  width: 100%; 
}

.musiclist-def, .musiclist-club {
  display: block;
}

.musiclist-club {
  color: $pink;
  font-size: rem(24px);
  font-weight: bold;
}
.musiclist-metas {
  @extend %ellipsis;
  color: darken($grey, 10%);
  font-size: rem(14px);
  font-weight: bold;
}
.musiclist-played {
  color: $grey-light;
}
.musiclist-artist {
  font-weight: bold;
}
.musiclist-song {
  color: $grey;
}