.playing {
  font-size: rem(18px);
  text-align: center;
  margin-bottom: 2 * $base-whitespace;

  > div {
    margin-bottom: 0.5 * $base-whitespace;
  }

  > img {
    margin: 0.75 * $base-whitespace 0;
  }

  @include respond-to(960px, min-width) {
    margin-bottom: 0;
  }
}