/*

Popups
------

Paints a popup on top of the page and you can choose between three sizes `.popup`
for normal size, `.popup-small` and `.popup-large`. The structure goes like:

    <div class="popup-overlay">
      <div class="popup">
        <div class="popup-header">
          Poop-up
          <a class="popup-actions" href="#">&times;</a>
        </div>

        <div class="popup-body">
          <p>The content goes here!</p>
        </div>
      </div>
    </div>

*/

.popup-overlay {
  box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.6);
  background: rgba(0, 0, 0, 0.6);
  bottom: 0;
  left: 0;
  overflow-y: scroll;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1;
}

.popup {
  @include transform(translate(-50%, 0));
  left: 50%;
  text-align: left;
  position: absolute;
  max-width: 540px;
  width: 100%;
}

.popup-header {
  background-color: $white;
  border-bottom: 1px solid $grey-lightest;
  padding: 50px 0;
  text-align: center;

  @include respond-to(540px, min-width) {
    border-radius: 6px 6px 0 0;
  }

  h2 {
    margin-bottom: $base-whitespace * 2;
  }
}

.popup-body {
  background-color: $white;
  padding: $base-whitespace * 1.5 0;
  position: relative;
  
  @include respond-to(540px, min-width) {
    border-radius: 0 0 6px 6px;
    padding: $base-whitespace * 1.5;
  }
}

.popup-actions {
  color: $pink;

  &:hover {
    color: $pink;
  }
}

