.section {
  text-align: center;

  > .l-wrapper {
    padding-top: 3 * $base-whitespace;
    padding-bottom: 3 * $base-whitespace;

    &.only-top {
      padding-bottom: 0;
    }

    &.only-bottom {
      padding-top: 0;
    }
  }

  h3 {
    @extend .horizontal-centered;
    max-width: 750px;
  }
}

.has-border-bottom {
  border-bottom: 1px solid rgba(0,0,0,0.2);
}

.has-border-top {
  border-top: 1px solid rgba(0,0,0,0.2);
}

.has-border {
  border-bottom: 1px solid rgba(0,0,0,0.2);
  border-top: 1px solid rgba(0,0,0,0.2);
}

.bg-black {
  background-color: $black;
}

.bg-pink {
  background-color: $pink;
}

.bg-blue {
  background-color: $blue;
}

.bg-white {
  background-color: $white;
}

.bg-light {
  background-color: $grey-ultralight;
}