.vertical-space {
  
  &.none {
    margin-bottom: 0;
  }

  &.half {
    margin-bottom: 0.5 * $base-whitespace;
  }

  &.one {
    margin-bottom: $base-whitespace;
  }

  &.one-half {
    margin-bottom: 1.5 * $base-whitespace;
  }

  &.two {
    margin-bottom: 2 * $base-whitespace;
  }

  &.two-half {
    margin-bottom: 2.5 * $base-whitespace;
  }

  &.three {
    margin-bottom: 3 * $base-whitespace;
  }
}